<style>
.pagination{height:36px;margin:18px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination li{display:inline;}
.pagination a{float:left;padding:0 14px;line-height:34px;text-decoration:none;border:1px solid #ddd;border-left-width:0;}
.pagination a:hover,.pagination .active a{background-color:#f5f5f5;}
.pagination .active a{color:#999999;cursor:default;}
.pagination .disabled a,.pagination .disabled a:hover{color:#999999;background-color:transparent;cursor:default;}
.pagination li:first-child a{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.pagination li:last-child a{border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
</style>
<script>
  $(document).ready(function() {

	var paginator_wrapper = $('.paginator_wrapper_{{_tag}}');
	var paginurl = paginator_wrapper.attr('paginurl');
	var thepage = paginator_wrapper.attr('thepage');
	var npp = paginator_wrapper.attr('npp');
	var totalpages = paginator_wrapper.attr('totalpages');
	
	var paginator_htmlcontent = $('.paginator_htmlcontent', paginator_wrapper);
	
	
	var helper = function (query) {
		$.post('{{paginurl}}?_tag={{_tag}}', query, function (data) {
			if (data.success) {
				paginator_wrapper.parent().html(data.htmlcontent);
			}
		}, 'json');
	  paginator_wrapper.parent().load('{{paginurl}}?_tag={{_tag}}', query);
	}

	$('.pagination a', paginator_wrapper).click(function(){
	  var query = $(this).attr("ref");
	  helper(query);
	});
  });
</script>

<div class="paginator_wrapper_{{_tag}}" paginurl="{{paginurl}}?_tag={{_tag}}" thepage="{{thepage}}" npp="{{npp}}" totalpages="{{totalpages}}">
	<div class="paginator_htmlcontent"> {{htmlcontent}} </div>
	{% if totalnum and totalnum > 0 then %}
		<div class="pagination">
		  <ul>
			<li{% if thepage == 1 then %} class="disabled" {% end %}><a href="javascript:;" ref="thepage={{prevpage}}&npp={{npp}}&totalpages={{totalpages}}">«</a></li>
			{% pageShown = 10 %}
			{% offset = 5 %}
			{% if thepage>offset then %}
			<li>
			  <a href="javascript:;" ref="thepage={{1}}&npp={{npp}}&totalpages={{totalpages}}">1...</a>
			</li>
			{% end %}
			{% for i=thepage-offset+1, thepage-offset+pageShown do %}
			{% if i >= 1 and i <= totalpages then %}
			<li{% if i == thepage then %} class="active" {% end %}>
			  <a href="javascript:;" ref="thepage={{i}}&npp={{npp}}&totalpages={{totalpages}}">{{i}}</a>
			</li>
			{% end %}
			{% end %}
			{% if thepage<totalpages-offset then %}
			<li>
			  <a href="javascript:;" ref="thepage={{totalpages}}&npp={{npp}}&totalpages={{totalpages}}">...{{totalpages}}</a>
			</li>
			{% end %}
			<li{% if thepage == totalpages then %} class="disabled" {% end %}><a href="javascript:;" ref="thepage={{nextpage}}&npp={{npp}}&totalpages={{totalpages}}">»</a></li>
		  </ul>
		</div>
	{% end %}	
</div>
